# Copy this over to `.env` in the same directory as this file
# and fill out the variables with the correct values.
#
TOKEN=your_bot_token_here

# postgres db variables
PGPASSWORD=password
PGUSER=postgres
# This must be the same as the name of the database service under `services` in `compose.yaml`.
PGHOST=database
PGPORT=5432
PGDATABASE=hangbot

# Do not replace `localhost` with `PGHOST` here.
DATABASE_URL="postgres://${PGUSER}:${PGPASSWORD}@localhost:${PGPORT}/${PGDATABASE}"
