# Copy this over to `.env` in the same directory as this file
# and fill out the variables with the correct values.
#
TOKEN=your_bot_token_here

# postgres db variables
PGPASSWORD=password
PGUSER=postgres
PGHOST=database
PGPORT=5432
PGDATABASE=hangbot

DATABASE_URL="postgres://${PGUSER}:${PGPASSWORD}@localhost:${PGPORT}/${PGDATABASE}"
