# These variables should be in your `.env` file.
#
TOKEN=YOUR_BOT_TOKEN_HERE

# NOTE: Storing the channel id and role id in `.env` will not work for mutliple guilds.
# TODO: Build a system to support mutliple guilds (use a database)
#
# ID of the role given to a user once they are verified
VERIFIED_ROLE_ID=your_role_id
# ID of the channel to welcome the newly verified discord user
WELCOME_CHANNEL_ID=your_channel_id
